/* removing the default margin and padding  */
*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100%;
}
/* header */
#title{
    height:fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#title span{
    line-height:27px;
    padding:8px 16px;
}
/* container that hold both nav-bar and main */
#divider{
    width:100%;
    border:1px solid red;
    display: flex;
}
/* navigation bar */
#nav-bar{
    width:25%;
    border:1px solid green;
}
#user{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0.15px 16px;
}
.img-container{
    width:15%;
    
}
.img-container img{
    max-width: 100%;
    height:auto;
    border-radius: 50%;
}
#user #user-id{
    display: flex;
    flex-direction: column;
}
#user-id #user-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 16px;
}


