/* removing the default margin and padding  */
*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100%;
}
/* h5 */
h5{
    font-size:18px;
    line-height:27px;
    margin:10px 0px;
    text-transform: capitalize;

}
/* header */
#title{
    height:fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 1000;
}
#title span{
    line-height:27px;
    padding:8px 16px;
}
/* container that hold both nav-bar andmain */
#divider{
    width:100%;
    border:1px solid red;
    display: flex;
}
/* navigation bar */
#nav-bar{
    width:30%;
    height:fit-content;
    position: sticky;
    top:0;
}

#user{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0.15px 16px;
}
.img-container{
    width:15%;
    
}
.img-container img{
    max-width: 100%;
    height:auto;
    border-radius: 50%;
}
#user #user-id{
    display: flex;
    flex-direction: column;
}
#user-id #user-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 16px;
}
/* nav-links */
#nav-links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    width: 100%;
    padding:10px 0 0 0;
}
#nav-links div{
    padding:5px 16px;
} 
#nav-links a{
    width:100%;
    line-height:22.5px;
    padding:10px 16px;
    text-align:left;
    display: flex;
    align-items: center;
    gap:5px;
    text-decoration: none;
    border-bottom: 1px solid #e6e6e6;
    text-transform: capitalize;
}
main{
    flex:1;
    border:2px solid slateblue;
}
#dashboard,#news,#statistics,#countries,#recent-user,#recent-comments{
    width:100%;
    padding:0.15px 16px;
}
#dashboard header{
    padding:10px 0;
}
#dashboard-cards{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    width:24%;
    height:fit-content;
    border:1px solid transparent;
    padding:15px 5px;
    margin:10px 0;
    padding:16px;
    
}
.card .numbers{
    display: flex;
    justify-content: space-between;
    gap:15px;
    align-items: center;
}
.card h4{
    margin:15px 0;
    text-transform: capitalize;
}
/* styling the container holds the region and feeds */
#news{
    display: flex;
    justify-content: space-between;
}
#news h5{
    line-height:27px;
    margin:10px 0px;
}
/* region */
#region{
    width:34%;
}
#region div{
    width:100%;
}
#region  img{
    max-width:100%;
}
/* feed table */
#feeds{
    width:64%;
}
table,tr{
    width:100%;
    border-collapse: collapse;
}
td i{
    padding:6px 6px 6px 12px;
    text-align:left;
}
td{
    padding:6px;
    border:none;
}
tr .col-1{
    width:10%;
}
tr .col-2{
    width:65%;
}
tr .col-3{
    width:25%;
}
/* statistics with their rates  */
#stats-numbers{
    width:100%;
    line-height: 27px;
}
#stats-numbers .rate{
    width:100%;
}
.rate .percent{
    padding:5px 16px;
    text-align:center;
}
.percent.top{
    width:25%;
}
.percent.middle{
    width:50%;
}
.percent.last{
    width:75%;
}
/* country table */
#countries .country-data{
    border:1px solid #c2c2c2;
}
#countries .country-data td{
    padding:8px;
}
#countries .country-data tr{
    border-bottom: 1px solid #ccc;
}
/* countries button */
button{
    width:20%;
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    text-transform: capitalize;
    margin:20px 0;
    border:1px solid transparent;
}
/* recent comments */
#recent-comments{
    padding-bottom: 20px;
}
#comments{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:15px;
}
#comments .user{
    display: flex;
    gap:10px;
    width:100%;
}
.user .img-container{
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user:last-of-type .img-container{
    width:12.5%;
}
.user .text{
    line-height:22.5px;
    padding:2px 16px;
}
.text h4{
    margin: 15px 0;
}
/* styling the menu with demographic ,system and target */
#menu{
    width:100%;
    padding:32px 16px;    
}
#menu .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
}
.container div{
    width:32%;
    line-height:22.5px;
    padding:0.15px 16px;
}
.container h5{
    padding:5px;
}
.container div p{
    margin:15px 0px;
}






