/* removing the default margin and padding  */
*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100%;
}
/* h5 */
h5{
    text-transform: capitalize;
}
/* header */
#title{
    height:fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#title span{
    line-height:27px;
    padding:8px 16px;
}
/* container that hold both nav-bar andmain */
#divider{
    width:100%;
    border:1px solid red;
    display: flex;
}
/* navigation bar */
#nav-bar{
    width:25%;
    height:fit-content;
    position: sticky;
    top:0;
}

#user{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0.15px 16px;
}
.img-container{
    width:15%;
    
}
.img-container img{
    max-width: 100%;
    height:auto;
    border-radius: 50%;
}
#user #user-id{
    display: flex;
    flex-direction: column;
}
#user-id #user-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 16px;
}
/* nav-links */
#nav-links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    width: 100%;
    padding:10px 0 0 0;
}
#nav-links div{
    padding:5px 16px;
} 
#nav-links h5{
    font-size:18px;
    line-height:27px;
    margin:10px 0px;
}
#nav-links a{
    width:100%;
    line-height:22.5px;
    padding:10px 16px;
    text-align:left;
    display: flex;
    align-items: center;
    gap:5px;
    text-decoration: none;
    border-bottom: 1px solid #e6e6e6;
    text-transform: capitalize;
}
main{
    flex:1;
    border:2px solid slateblue;
    padding:20px 15px;
}
#dashboard{
    width:100%;
    border:1px solid red;
}
#dashboard header{
    padding:10px 0;
    border:1px solid black;
}
#dashboard-cards{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    width:25%;
    height:fit-content;
    border:1px solid black;
    padding:10px;
    margin:10px;
    display: flex;
}




